@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=M+PLUS+1+Code:wght@100..700&family=Noto+Sans+JP:wght@100..900&display=swap');

@font-face {
    font-family: 'android' ;
    src: url('./fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

        root {
            --cor0: #c5ebd6;
            --cor1: #83e1ad;
            --cor2: #3ddc84;
            --cor3: #2fa866;
            --cor4: #1a5c37;
            --cor5: #063d1e;

            --fonte-padrao: Arial, verdana, Helvetica, sans-serif;
            --fonte-destaque: 'Bebas Neue', sans-serif;
            --fonte-android : 'android', arial ;
        }
        * {
            margin: 0px;
            padding: 0px;
        }
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #c5ebd6;
            margin: 0px;
            
        }
        header {
            background-image: linear-gradient( to bottom, #2fa866, #063d1e);
           min-height: 150px;
            text-align: center;
            padding-top:  40px;
        }
        header > h1 {
            font-family: 'Bebas Neue', sans-serif;
            font-weight: normal;
            color: white;
            margin-bottom: 20px;
            font-size: 3em;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.301);

        }
        header > p {
            color: white;
            font-size: 1.2em;
            max-width: 500px;
            margin: auto;
            padding: 10px 10px 0px 0px;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.288);
            padding-bottom: 30px;
        }
        nav {
            
            text-align: left;
            background-color: #063d1e;
            box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.185);
            padding: 10px;
        }
        nav > a {
            text-decoration: none;
            font-weight: bold;
            color: white;
            padding: 10px;
            border-radius: 5px;
            transition-duration: .5s;
        }
        nav > a:hover {
            background-color: #3ddc84;
            color: #063d1e;
        }
        main {
            width: auto;
            min-height: 320px;
            max-width: 850px;
            margin: auto ;
            margin-bottom: 30px;
            padding: 20px;
            background-color: white;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.377);
            border-radius: 0px 0px 10px 10px;
        }
        main h1 {
            color: #063d1e;
            font-family: var(--fonte-android);
            font-weight: normal;
            font-size: 1.4em;
            background-image: linear-gradient(to right, #83e1ad, transparent );
            text-indent: 30px;
        }
        main h2 {
            color: #063d1e;
            font-family: var(--fonte-android);
            font-weight: normal;
            font-size: 1.3em;
            background-image: linear-gradient(to right, #83e1ad, transparent );
            text-indent: 30px;
        }
       main p {
            margin: 15px 0px;
            text-align: justify;
            text-indent: 30px;
            line-height: 1.5em;
        }
        main strong {
            color: #126938;
            font-weight: bold;
        }
        main a {
            color: #126938;
            text-decoration: none;
            font-weight: bold;
            background-color: #83e1ad;
            padding: 2px 6px;
            }
        main > img {
            width: 100%;
        }
        article {
            background-color: white;
        }
        article > h1 {
            font-family: 'android', arial;
        }
        article > h2 {
            font-family: 'android', arial;
            font-size: 1.1em;
        }
        .image {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .video {
            background-color: #126938;
            padding: 20px;
            margin: 0px -20px 30px -20px;
            padding-bottom: 59%;
            position: relative;
        }
        .video > iframe {
            position:absolute;
            top: 5%;
            left: 5%;
            width: 90%;
            height: 90%;
        }
        aside {
            background-color: #c5ebd6;
            padding: 10px;
            border-radius: 10px;
        }
        aside ul {
            list-style-position: inside;
            columns: 2;
        }
        aside > h3 {
            background-color: #063d1e;
            color: white;
            padding: 10px;
            margin: -10px -10px 0px -10px;
            border-radius: 10px 10px 0px 0px;
        }
        footer {
            text-align: center;
            font-weight: bold;
            background-color: #063d1e;
            padding: 5px;
        }
        footer p {
            color: white;
            font-size: 0.8em;
        }